# MongoDB connection string
MONGODB_URI=mongodb+srv://liftly:Liftly123@liftly.rp96vkj.mongodb.net/?retryWrites=true&w=majority&appName=Liftly

# Application environment
NODE_ENV=development

# Application port
PORT=8080

# JWT Secret for authentication
JWT_SECRET=4d9266dfef73717f3cbfc0340f408b426c5168c59747d638b3b6840343ec56df

# Gmail SMTP configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=liftyrideshareing@gmail.com
EMAIL_PASS=xlebkpuoykdmvrgu

# Test email recipient
TEST_RECEIVER=liftyrideshareing@gmail.com

# Google OAuth configuration
VITE_GOOGLE_CLIENT_ID=834151012293-c3vd2487q8nk0d5t5t7jpm8n748blak1.apps.googleusercontent.com
