# MongoDB connection string
MONGODB_URI=mongodb+srv://eswarsamanthulas:LiftlyTest123@liftlycluster.yot3qho.mongodb.net/liftly?retryWrites=true&w=majority&appName=LiftlyCluster

# Application environment
NODE_ENV=development

# Application port
PORT=8080

# JWT Secret for authentication
JWT_SECRET=4d9266dfef73717f3cbfc0340f408b426c5168c59747d638b3b6840343ec56df

# Email configuration for Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=liftyrideshareing@gmail.com
EMAIL_PASS=neflczotasurgxvl
